In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import glob
import geopandas as gpd
import contextily as cx
import matplotlib.pyplot as plt
from matplotlib import colormaps

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
   for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/tfl-cycle-hire-data/JourneyDataExtract27Dec2017-05Jan2021.csv

# Creating data frame & assessing data

Sourced from the TfL CycleHire Scheme, I brought the data into a pandas dataframe and specified some datatypes that would help process the data later on.

In [2]:
csv_path = "../input/tfl-cycle-hire-data/JourneyDataExtract27Dec2017-05Jan2021.csv"
/Users/anna/Documents/GitHub/Portfolio/projects/CyclingPollutionVauxhall/data/raw/TfLJourneyDataExtract27Dec2017-05Jan2021.csv.zip
bike_df = pd.read_csv(csv_path, dtype={'Duration': 'Int64','StartStation Id': 'Int64','EndStation Id': 'Int64'})
bike_df

,Rental Id,Duration,Bike Id,End Date,EndStation Id,EndStation Name,Start Date,StartStation Id,StartStation Name
0,73667188,720,7315,06/03/2018 07:18,282,"Royal London Hospital, Whitechapel",06/03/2018 07:06,30,"Windsor Terrace, Hoxton"
1,73693268,540,3500,06/03/2018 23:14,95,"Aldersgate Street, Barbican",06/03/2018 23:05,751,"Newton Street, Covent Garden"
2,73659546,840,5646,05/03/2018 18:14,488,"Reardon Street, Wapping",05/03/2018 18:00,3,"Christopher Street, Liverpool Street"
3,73627763,1560,6139,03/03/2018 20:32,60,"Lisson Grove, St. John's Wood",03/03/2018 20:06,203,"West Smithfield Rotunda, Farringdon"
4,73638919,480,12516,04/03/2018 20:04,107,"Finsbury Leisure Centre, St. Luke's",04/03/2018 19:56,203,"West Smithfield Rotunda, Farringdon"
...,...,...,...,...,...,...,...,...,...
31396214,73752956,1260,6687,09/03/2018 10:55,13,"Scala Street, Fitzrovia",09/03/2018 10:34,326,"Graham Street, Angel"
31396215,73839092,300,10403,13/03/2018 16:56,30,"Windsor Terrace, Hoxton",13/03/2018 16:51,253,"Shoreditch Park, Hoxton"
31396216,73845410,780,2357,13/03/2018 18:55,183,"Riverlight North, Nine Elms",13/03/2018 18:42,196,"Union Street, The Borough"
31396217,73833185,240,2649,13/03/2018 11:56,64,"William IV Street, Strand",13/03/2018 11:52,228,"St. James's Square, St. James's"
31396218,73837800,1260,7678,13/03/2018 16:25,130,"Tower Gardens , Tower",13/03/2018 16:04,530,"Newby Place, Poplar"

Checking the datatypes

In [3]:
bike_df.dtypes

Rental Id             int64
Duration              Int64
Bike Id               int64
End Date             object
EndStation Id         Int64
EndStation Name      object
Start Date           object
StartStation Id       Int64
StartStation Name    object
dtype: object

Here I renamed the columns to exclude spaces and to ensure consistency across the data, as well as using pandas tools to define the date and time of cycle hire.

In [4]:
#Renaming columns
bike_df.rename(columns={'Rental Id': 'RentalID', 'Start Date': 'StartDateTime', 'StartStation Id': 'StartStationID', 'StartStation Name': 'StartStation','End Date': 'EndDateTime', 'EndStation Id': 'EndStationID', 'EndStation Name': 'EndStation', 'Bike Id': 'BikeID', 'Bike model': 'BikeModel', 'Duration': 'Duration_Seconds'}, inplace=True)
                
#Format date
bike_df[['StartDateTime','EndDateTime']] = bike_df[['StartDateTime','EndDateTime']].apply(pd.to_datetime, format='%d/%m/%Y %H:%M')
bike_df.head()

,RentalID,Duration_Seconds,BikeID,EndDateTime,EndStationID,EndStation,StartDateTime,StartStationID,StartStation
0,73667188,720,7315,2018-03-06 07:18:00,282,"Royal London Hospital, Whitechapel",2018-03-06 07:06:00,30,"Windsor Terrace, Hoxton"
1,73693268,540,3500,2018-03-06 23:14:00,95,"Aldersgate Street, Barbican",2018-03-06 23:05:00,751,"Newton Street, Covent Garden"
2,73659546,840,5646,2018-03-05 18:14:00,488,"Reardon Street, Wapping",2018-03-05 18:00:00,3,"Christopher Street, Liverpool Street"
3,73627763,1560,6139,2018-03-03 20:32:00,60,"Lisson Grove, St. John's Wood",2018-03-03 20:06:00,203,"West Smithfield Rotunda, Farringdon"
4,73638919,480,12516,2018-03-04 20:04:00,107,"Finsbury Leisure Centre, St. Luke's",2018-03-04 19:56:00,203,"West Smithfield Rotunda, Farringdon"

I ordered them by RentalID as a way to sort the data â€“ I'm making the assumption that the RentalID will be ordered from oldest to newest.

In [5]:
bike_df = bike_df[['RentalID', 'BikeID','StartDateTime','StartStationID','StartStation','EndDateTime','EndStationID','EndStation','Duration_Seconds']]
bike_df = bike_df.sort_values('RentalID')
bike_df.head(50)

,RentalID,BikeID,StartDateTime,StartStationID,StartStation,EndDateTime,EndStationID,EndStation,Duration_Seconds
9542246,57571323,1004,2016-08-24 00:00:00,210,"Hinde Street, Marylebone",2016-08-24 00:19:00,261,"Princes Square, Bayswater",1140
9542248,57571324,8925,2016-08-24 00:00:00,477,"Spindrift Avenue, Millwall",2016-08-24 00:21:00,554,"Aberfeldy Street, Poplar",1260
9542247,57571325,3100,2016-08-24 00:00:00,188,"Nutford Place, Marylebone",2016-08-24 00:18:00,265,"Southwick Street, Paddington",1080
9542250,57571326,11247,2016-08-24 00:00:00,273,"Belvedere Road, South Bank",2016-08-24 00:18:00,246,"Berry Street, Clerkenwell",1080
9542251,57571327,256,2016-08-24 00:00:00,578,"Hollybush Gardens, Bethnal Green",2016-08-24 00:42:00,146,"Vauxhall Bridge , Pimlico",2520
9542249,57571328,11493,2016-08-24 00:00:00,799,"Kings Gate House, Westminster",2016-08-24 00:30:00,515,"Russell Gardens, Olympia",1800
9542255,57571329,5103,2016-08-24 00:01:00,447,"Jubilee Crescent, Cubitt Town",2016-08-24 00:44:00,586,"Mudchute DLR, Cubitt Town",2580
9542254,57571330,2151,2016-08-24 00:01:00,104,"Crosswall, Tower",2016-08-24 00:16:00,125,"Borough High Street, The Borough",900
9542253,57571331,3407,2016-08-24 00:01:00,266,"Queen's Gate (North), Kensington",2016-08-24 00:14:00,599,"Manbre Road, Hammersmith",780
9542256,57571332,14145,2016-08-24 00:01:00,578,"Hollybush Gardens, Bethnal Green",2016-08-24 00:59:00,710,"Albert Bridge Road, Battersea Park",3480
9542252,57571333,13359,2016-08-24 00:01:00,446,"York Hall, Bethnal Green",2016-08-24 00:18:00,234,"Liverpool Road (N1 Centre), Angel",1020
9542257,57571334,9797,2016-08-24 00:01:00,622,"Lansdowne Road, Ladbroke Grove",2016-08-24 00:05:00,740,"Sirdar Road, Avondale",240
9542264,57571335,8130,2016-08-24 00:02:00,435,"Kennington Station, Kennington",2016-08-24 00:19:00,772,"Binfield Road, Stockwell",1020
9542258,57571336,4782,2016-08-24 00:02:00,435,"Kennington Station, Kennington",2016-08-24 00:06:00,440,"Kennington Oval, Oval",240
9542261,57571337,5535,2016-08-24 00:02:00,273,"Belvedere Road, South Bank",2016-08-24 00:19:00,664,"Austin Road, Battersea Park",1020
9542259,57571338,11862,2016-08-24 00:02:00,104,"Crosswall, Tower",2016-08-24 00:17:00,503,"Cleveland Way, Stepney",900
9542262,57571339,7915,2016-08-24 00:02:00,655,"Crabtree Lane, Fulham",2016-08-24 00:09:00,737,"Fulham Broadway, Walham Green",420
9542263,57571340,6369,2016-08-24 00:02:00,796,"Coram Street, Bloomsbury",2016-08-24 00:14:00,804,"Good's Way, King's Cross",720
9542260,57571341,12757,2016-08-24 00:02:00,577,"Globe Town Market, Bethnal Green",2016-08-24 01:22:00,229,"Whitehall Place, Strand",4800
9542265,57571342,8777,2016-08-24 00:03:00,11,"Brunswick Square, Bloomsbury",2016-08-24 00:11:00,17,"Hatton Wall, Holborn",480
9542268,57571344,12730,2016-08-24 00:04:00,302,"Putney Pier, Wandsworth",2016-08-24 02:42:00,693,"Felsham Road, Putney",9480
9542287,57571345,10245,2016-08-24 00:17:00,292,"Montpelier Street, Knightsbridge",2016-08-24 00:23:00,187,"Queen's Gate (South), South Kensington",360
9542281,57571347,4216,2016-08-24 00:12:00,512,"Pritchard's Road, Bethnal Green",2016-08-24 00:25:00,467,"Southern Grove, Bow",780
9542285,57571348,14157,2016-08-24 00:13:00,399,"Brick Lane Market, Shoreditch",2016-08-24 00:21:00,390,"Buxton Street 1, Shoreditch",480
9542300,57571350,4892,2016-08-24 00:24:00,207,"Grosvenor Crescent, Belgravia",2016-08-24 00:41:00,270,"Kennington Lane Rail Bridge, Vauxhall",1020
9542273,57571352,10143,2016-08-24 00:06:00,511,"Sutton Street, Shadwell",2016-08-24 00:11:00,715,"Aylward Street, Stepney",300
9542301,57571353,173,2016-08-24 00:24:00,99,"Old Quebec Street, Marylebone",2016-08-24 00:47:00,169,"Porchester Place, Paddington",1380
9542289,57571354,8046,2016-08-24 00:17:00,222,"Knightsbridge, Hyde Park",2016-08-24 00:26:00,396,"Shouldham Street, Marylebone",540
9542307,57571356,2705,2016-08-24 00:30:00,784,"East Village, Queen Elizabeth Olympic Park",2016-08-24 00:42:00,784,"East Village, Queen Elizabeth Olympic Park",720
9542266,57571357,10368,2016-08-24 00:03:00,577,"Globe Town Market, Bethnal Green",2016-08-24 01:22:00,229,"Whitehall Place, Strand",4740
9542288,57571359,10936,2016-08-24 00:17:00,692,"Cadogan Close, Victoria Park",2016-08-24 00:52:00,593,"Northdown Street, King's Cross",2100
9542295,57571360,3260,2016-08-24 00:21:00,706,"Snowsfields, London Bridge",2016-08-24 00:28:00,230,"Poured Lines, Bankside",420
9542305,57571361,577,2016-08-24 00:30:00,207,"Grosvenor Crescent, Belgravia",2016-08-24 00:39:00,318,"Sackville Street, Mayfair",540
9542277,57571362,10431,2016-08-24 00:09:00,701,"Vicarage Crescent, Battersea",2016-08-24 00:22:00,219,"Bramham Gardens, Earl's Court",780
9542282,57571367,12674,2016-08-24 00:12:00,444,"Bethnal Green Garden, Bethnal Green",2016-08-24 00:15:00,722,"Finnis Street, Bethnal Green",180
9542278,57571369,8946,2016-08-24 00:09:00,206,"New Road 1 , Whitechapel",2016-08-24 00:12:00,500,"Ansell House, Stepney",180
9542276,57571370,8864,2016-08-24 00:07:00,125,"Borough High Street, The Borough",2016-08-24 00:30:00,249,"Harper Road, The Borough",1380
9542286,57571373,8739,2016-08-24 00:15:00,583,"Abingdon Green, Westminster",2016-08-24 00:31:00,710,"Albert Bridge Road, Battersea Park",960
9542304,57571374,7446,2016-08-24 00:30:00,206,"New Road 1 , Whitechapel",2016-08-24 00:34:00,501,"Cephas Street, Bethnal Green",240
9542321,57571376,9619,2016-08-24 00:49:00,551,"Montgomery Square, Canary Wharf",2016-08-24 01:02:00,518,"Antill Road, Mile End",780
9542298,57571377,12312,2016-08-24 00:22:00,606,"Addison Road, Holland Park",2016-08-24 00:41:00,589,"Drayton Gardens, West Chelsea",1140
9542314,57571378,10581,2016-08-24 00:39:00,240,"Colombo Street, Southwark",2016-08-24 00:52:00,87,"Devonshire Square, Liverpool Street",780
9542320,57571380,6506,2016-08-24 00:48:00,377,"Waterloo Bridge, South Bank",2016-08-24 01:01:00,314,"Tyers Gate, Bermondsey",780
9542292,57571381,2044,2016-08-24 00:18:00,93,"Cloudesley Road, Angel",2016-08-24 00:55:00,93,"Cloudesley Road, Angel",2220
9542323,57571384,8299,2016-08-24 00:51:00,781,"Victoria & Albert Museum, South Kensington",2016-08-24 01:11:00,28,"Bolsover Street, Fitzrovia",1200
9542299,57571385,8542,2016-08-24 00:24:00,227,"Great Percy Street, Clerkenwell",2016-08-24 00:32:00,695,"Islington Green, Angel",480
9542322,57571386,173,2016-08-24 00:50:00,169,"Porchester Place, Paddington",2016-08-24 01:20:00,320,"Queen Mother Sports Centre, Victoria",1800
9542284,57571387,12000,2016-08-24 00:13:00,772,"Binfield Road, Stockwell",2016-08-24 00:32:00,640,"Silverthorne Road, Battersea",1140
9542308,57571388,8358,2016-08-24 00:31:00,332,"Nevern Place, Earl's Court",2016-08-24 00:41:00,696,"Charing Cross Hospital, Hammersmith",600
9542297,57571389,2935,2016-08-24 00:22:00,772,"Binfield Road, Stockwell",2016-08-24 00:27:00,669,"Teversham Lane, Stockwell",300

# Missing Data
Before going further, I assessed how much data is missing for each column to see if the data could be considered relaible.

In [6]:
# Counting null values in all columns
null_count = bike_df.isnull().sum()
null_percentage = (null_count / len(bike_df) * 100).round(2)
print('Total null count:\n',null_count,'\n\n\nPercentage of values missing:\n',null_percentage)

Total null count:
 RentalID               0
BikeID                 0
StartDateTime          0
StartStationID         0
StartStation           0
EndDateTime         3557
EndStationID        3585
EndStation          3585
Duration_Seconds    3557
dtype: int64


Percentage of values missing:
 RentalID            0.00
BikeID              0.00
StartDateTime       0.00
StartStationID      0.00
StartStation        0.00
EndDateTime         0.01
EndStationID        0.01
EndStation          0.01
Duration_Seconds    0.01
dtype: float64

The acceptable rate of missing values is 5%, so a missing rate of 0.1% is acceptable for this dataset. I decided to drop these records:

In [7]:
bike_df = bike_df.dropna()
bike_df.head(20)

,RentalID,BikeID,StartDateTime,StartStationID,StartStation,EndDateTime,EndStationID,EndStation,Duration_Seconds
9542246,57571323,1004,2016-08-24 00:00:00,210,"Hinde Street, Marylebone",2016-08-24 00:19:00,261,"Princes Square, Bayswater",1140
9542248,57571324,8925,2016-08-24 00:00:00,477,"Spindrift Avenue, Millwall",2016-08-24 00:21:00,554,"Aberfeldy Street, Poplar",1260
9542247,57571325,3100,2016-08-24 00:00:00,188,"Nutford Place, Marylebone",2016-08-24 00:18:00,265,"Southwick Street, Paddington",1080
9542250,57571326,11247,2016-08-24 00:00:00,273,"Belvedere Road, South Bank",2016-08-24 00:18:00,246,"Berry Street, Clerkenwell",1080
9542251,57571327,256,2016-08-24 00:00:00,578,"Hollybush Gardens, Bethnal Green",2016-08-24 00:42:00,146,"Vauxhall Bridge , Pimlico",2520
9542249,57571328,11493,2016-08-24 00:00:00,799,"Kings Gate House, Westminster",2016-08-24 00:30:00,515,"Russell Gardens, Olympia",1800
9542255,57571329,5103,2016-08-24 00:01:00,447,"Jubilee Crescent, Cubitt Town",2016-08-24 00:44:00,586,"Mudchute DLR, Cubitt Town",2580
9542254,57571330,2151,2016-08-24 00:01:00,104,"Crosswall, Tower",2016-08-24 00:16:00,125,"Borough High Street, The Borough",900
9542253,57571331,3407,2016-08-24 00:01:00,266,"Queen's Gate (North), Kensington",2016-08-24 00:14:00,599,"Manbre Road, Hammersmith",780
9542256,57571332,14145,2016-08-24 00:01:00,578,"Hollybush Gardens, Bethnal Green",2016-08-24 00:59:00,710,"Albert Bridge Road, Battersea Park",3480
9542252,57571333,13359,2016-08-24 00:01:00,446,"York Hall, Bethnal Green",2016-08-24 00:18:00,234,"Liverpool Road (N1 Centre), Angel",1020
9542257,57571334,9797,2016-08-24 00:01:00,622,"Lansdowne Road, Ladbroke Grove",2016-08-24 00:05:00,740,"Sirdar Road, Avondale",240
9542264,57571335,8130,2016-08-24 00:02:00,435,"Kennington Station, Kennington",2016-08-24 00:19:00,772,"Binfield Road, Stockwell",1020
9542258,57571336,4782,2016-08-24 00:02:00,435,"Kennington Station, Kennington",2016-08-24 00:06:00,440,"Kennington Oval, Oval",240
9542261,57571337,5535,2016-08-24 00:02:00,273,"Belvedere Road, South Bank",2016-08-24 00:19:00,664,"Austin Road, Battersea Park",1020
9542259,57571338,11862,2016-08-24 00:02:00,104,"Crosswall, Tower",2016-08-24 00:17:00,503,"Cleveland Way, Stepney",900
9542262,57571339,7915,2016-08-24 00:02:00,655,"Crabtree Lane, Fulham",2016-08-24 00:09:00,737,"Fulham Broadway, Walham Green",420
9542263,57571340,6369,2016-08-24 00:02:00,796,"Coram Street, Bloomsbury",2016-08-24 00:14:00,804,"Good's Way, King's Cross",720
9542260,57571341,12757,2016-08-24 00:02:00,577,"Globe Town Market, Bethnal Green",2016-08-24 01:22:00,229,"Whitehall Place, Strand",4800
9542265,57571342,8777,2016-08-24 00:03:00,11,"Brunswick Square, Bloomsbury",2016-08-24 00:11:00,17,"Hatton Wall, Holborn",480

Showing the final null count:

In [8]:
null_count = bike_df.isnull().sum()
print('Final null count:\n',null_count,)

Final null count:
 RentalID            0
BikeID              0
StartDateTime       0
StartStationID      0
StartStation        0
EndDateTime         0
EndStationID        0
EndStation          0
Duration_Seconds    0
dtype: int64

# Duplicates
I wanted to see if any rental IDs are duplicates:

In [9]:
num_duplicates = len(bike_df)-len(bike_df.drop_duplicates())
num_duplicates

0

Lastly, I set the RentalID to be the index for the dataframe.

In [10]:
bike_df.set_index('RentalID', inplace=True)
bike_df.sort_index(inplace=True)
bike_df.head(20)

,BikeID,StartDateTime,StartStationID,StartStation,EndDateTime,EndStationID,EndStation,Duration_Seconds
RentalID,,,,,,,,
57571323,1004,2016-08-24 00:00:00,210,"Hinde Street, Marylebone",2016-08-24 00:19:00,261,"Princes Square, Bayswater",1140
57571324,8925,2016-08-24 00:00:00,477,"Spindrift Avenue, Millwall",2016-08-24 00:21:00,554,"Aberfeldy Street, Poplar",1260
57571325,3100,2016-08-24 00:00:00,188,"Nutford Place, Marylebone",2016-08-24 00:18:00,265,"Southwick Street, Paddington",1080
57571326,11247,2016-08-24 00:00:00,273,"Belvedere Road, South Bank",2016-08-24 00:18:00,246,"Berry Street, Clerkenwell",1080
57571327,256,2016-08-24 00:00:00,578,"Hollybush Gardens, Bethnal Green",2016-08-24 00:42:00,146,"Vauxhall Bridge , Pimlico",2520
57571328,11493,2016-08-24 00:00:00,799,"Kings Gate House, Westminster",2016-08-24 00:30:00,515,"Russell Gardens, Olympia",1800
57571329,5103,2016-08-24 00:01:00,447,"Jubilee Crescent, Cubitt Town",2016-08-24 00:44:00,586,"Mudchute DLR, Cubitt Town",2580
57571330,2151,2016-08-24 00:01:00,104,"Crosswall, Tower",2016-08-24 00:16:00,125,"Borough High Street, The Borough",900
57571331,3407,2016-08-24 00:01:00,266,"Queen's Gate (North), Kensington",2016-08-24 00:14:00,599,"Manbre Road, Hammersmith",780
57571332,14145,2016-08-24 00:01:00,578,"Hollybush Gardens, Bethnal Green",2016-08-24 00:59:00,710,"Albert Bridge Road, Battersea Park",3480
57571333,13359,2016-08-24 00:01:00,446,"York Hall, Bethnal Green",2016-08-24 00:18:00,234,"Liverpool Road (N1 Centre), Angel",1020
57571334,9797,2016-08-24 00:01:00,622,"Lansdowne Road, Ladbroke Grove",2016-08-24 00:05:00,740,"Sirdar Road, Avondale",240
57571335,8130,2016-08-24 00:02:00,435,"Kennington Station, Kennington",2016-08-24 00:19:00,772,"Binfield Road, Stockwell",1020
57571336,4782,2016-08-24 00:02:00,435,"Kennington Station, Kennington",2016-08-24 00:06:00,440,"Kennington Oval, Oval",240
57571337,5535,2016-08-24 00:02:00,273,"Belvedere Road, South Bank",2016-08-24 00:19:00,664,"Austin Road, Battersea Park",1020
57571338,11862,2016-08-24 00:02:00,104,"Crosswall, Tower",2016-08-24 00:17:00,503,"Cleveland Way, Stepney",900
57571339,7915,2016-08-24 00:02:00,655,"Crabtree Lane, Fulham",2016-08-24 00:09:00,737,"Fulham Broadway, Walham Green",420
57571340,6369,2016-08-24 00:02:00,796,"Coram Street, Bloomsbury",2016-08-24 00:14:00,804,"Good's Way, King's Cross",720
57571341,12757,2016-08-24 00:02:00,577,"Globe Town Market, Bethnal Green",2016-08-24 01:22:00,229,"Whitehall Place, Strand",4800
57571342,8777,2016-08-24 00:03:00,11,"Brunswick Square, Bloomsbury",2016-08-24 00:11:00,17,"Hatton Wall, Holborn",480

# Output

I outputted the results of the data cleaning to a new csv file so that I can use it in other notebooks.

In [11]:
bike_df.to_csv('/kaggle/working/bike_df.csv')